@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Passion One', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html,
body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: var(--font1);
}
.cabecalho {
  background-color: black;
  text-align: center;
  color: white;
  height: 300px;
}
.titulo-cabecalho {
    font-family: var(--font3);
  padding-top: 70px;
  font-size: 8em;
  font-variant: small-caps;
}
.paragrafo-cabecalho {
  font-size: 1.2em;
}
.link {
  color: darkgray;
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--font2);
  font-size: 2em;
}
section > p {
    padding-bottom: 2em;
}
.paragrafo-normal {
}
.paragrafo-imagem{
    box-shadow: inset 6px 6px 13px 0px #000000ac;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    color: white;
  background-color: #17171791;
  background-image: url(../imagens/background001.jpg);
}

.paragrafo-imagem> p {
  background-color: rgba(0, 0, 0, 0.409);
  max-width: 400px;
  text-shadow: 1px 1px 0px black;
}
#img01{
 background-image: url(../imagens/background001.jpg);

}
#img02{
 background-image: url(../imagens/background002.jpg);

}
.rodape {
  background-color: black;
  color: white;
  text-align: center;
}
@media (max-width: 700px) {
    .cabecalho{
    height: 250px;
    }
    .titulo-cabecalho{
     font-size: 4.5em;
    }
    section{
        font-size: 1.5em;
    }
    footer{
        font-size: 0.8em;
    }

}
 