@charset "UTF-8";
/*Todas as versões de mídia*/
/*Typical device Breakpoints
Pequenas telas: max width 600px
Celular: 600px - 700px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes telas: 1200px ^
*/
@media print {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../images/back-tablet.jpg);
  }
  .phone {display: none;}
  .tablet {display: block;}
  .print {display: none;}
  .pc {display: none;}
  .tv {display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../images/back-pc.jpg);
  }
  .phone {display: none;}
  .tablet {display: none;}
  .print {display: none;}
  .pc {display: block;}
  .tv {display: none;}
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/back-tv.jpg);
  }
  .phone {display: none;}
  .tablet {display: none;}
  .print {display: none;}
  .pc {display: none;}
  .tv {display: block;}
}
@media print {
  body {
    background-color: lightgray;
  }
  main {
    box-shadow: none;
  }
  main::after {
    content: "Site criado por Patrick Souza";
  }
  img:hover {scale: 100%;
  }
  .phone {display: none;}
  .tablet {display: none;}
  .print {display: block;}
  .pc {display: none;}
  .tv {display: none;}
}
